body {
    background: #f1f1f1;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  /* Giving our navbar some padding and a background color */
  .navbar-brand {
    padding: 10px;
    background: #5191fd;
  }
  .float-left-area  {
    width: 70%;
    height: 100%;
    float: left;
    }

.float-right-area {
    width: 30%;
    float: left;
    }

.inner-left	  {
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    border: #999999 1px solid;
    min-height: 60px;
    }

.inner-right	  {
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    border: #999999 1px solid;
    min-height: 60px;
    }
div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
.sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
.sidebar a {float: left;}
div.content {margin-left: 0;}
    }
    
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.sidebar a {
        text-align: center;
        float: none;}
}